@using JiraEpicRoadmapper.UI.Models
<div class="today-indicator" style="left: @(Day.Index * LayoutSettings.DaySpan)px;"><br/>@(Day.Date.ToString("dd/MM")) (today)</div>

@code
{
    [Parameter]
    public IndexedDay Day { get; set; }
}
