@using JiraEpicRoadmapper.Contracts
@using JiraEpicRoadmapper.UI.Models
<div class="epics-panel" style="width: @(Roadmap.TotalDays * LayoutSettings.DaySpan)px; height: @(Roadmap.TotalRows * LayoutSettings.RowHeight)px">
    @foreach (var m in Roadmap.Timeline.GetMondays())
    {
        <DayIndicator Day="@m" />
    }
    <TodayIndicator Day="@Roadmap.Timeline.Today" />
</div>

@code
{
    private IReadOnlyList<Epic> _epics;
    private DateTimeOffset? _today;
    public EpicsRoadmap Roadmap { get; private set; }

    [Parameter]
    public DateTimeOffset? Today
    {
        get => _today;
        set
        {
            _today = value;
            Roadmap = null;
        }
    }

    [Parameter]
    public IReadOnlyList<Epic> Epics
    {
        get => _epics;
        set
        {
            if (_epics != value)
            {
                _epics = value;
                Roadmap = null;
            }
        }
    }

    protected override void OnParametersSet()
    {
        if (Roadmap == null)
            OnEpicsUpdate();
        ;
    }

    private void OnEpicsUpdate()
    {
        Roadmap = new EpicsRoadmap(Epics, Today);
        Roadmap.UpdateLayout(new LayoutDesigner());
    }

}
