@using JiraEpicRoadmapper.Contracts
@using JiraEpicRoadmapper.UI.Models
<div class="epics-panel" style="width: @(EpicsTimeline.TotalDays * LayoutSettings.DaySpan)px; height: @(EpicsTimeline.TotalRows * LayoutSettings.RowHeight)px">
    @foreach (var m in EpicsTimeline.Timeline.GetMondays())
    {
        <DayIndicator Day="@m" />
    }
    <TodayIndicator Day="@EpicsTimeline.Timeline.Today" />
</div>

@code
{
    private IReadOnlyList<Epic> _epics;
    private DateTimeOffset? _today;
    public EpicsTimeline EpicsTimeline { get; private set; }

    [Parameter]
    public DateTimeOffset? Today
    {
        get => _today;
        set
        {
            _today = value;
            EpicsTimeline = null;
        }
    }

    [Parameter]
    public IReadOnlyList<Epic> Epics
    {
        get => _epics;
        set
        {
            if (_epics != value)
            {
                _epics = value;
                EpicsTimeline = null;
            }
        }
    }

    protected override void OnParametersSet()
    {
        if (EpicsTimeline == null)
            OnEpicUpdate();
        ;
    }

    private void OnEpicUpdate()
    {
        EpicsTimeline = new EpicsTimeline(Epics, Today);
    }

}
