@using JiraEpicRoadmapper.Contracts
@using JiraEpicRoadmapper.UI.Models
<div class="epics-panel" style="width: @(EpicsTimeline.TotalDays * LayoutSettings.DaySpan)px; height: @(EpicsTimeline.TotalRows * LayoutSettings.RowHeight)px">
    @foreach (var m in EpicsTimeline.Timeline.GetMondays())
    {
        <DayIndicator Day="@m" />
    }
    <TodayIndicator Day="@EpicsTimeline.Timeline.Today" />
</div>

@code
{
    private IReadOnlyList<Epic> _epics;
    public EpicsTimeline EpicsTimeline { get; private set; }

    [Parameter]
    public DateTimeOffset? Today { get; set; }

    [Parameter]
    public IReadOnlyList<Epic> Epics
    {
        get => _epics;
        set
        {
            if (_epics != value)
            {
                _epics = value;
                OnEpicUpdate();
            }
        }
    }

    private void OnEpicUpdate()
    {
        EpicsTimeline = new EpicsTimeline(Epics, Today);
    }

}
