body {
    font-family: Calibri, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.loading-bar {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: loading-bar 3s ease infinite;
    margin: 2em;
    border: 1px solid #222222;
    padding: 1em;
    font-size: larger;
    font-weight: bolder;
    text-align: center;
}

@keyframes loading-bar {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.error-panel {
    background: #ee5352;
    color: #ffffff;
    margin: 2em;
    border: 1px solid #880000;
    padding: 1em;
    font-size: larger;
    font-weight: bolder;
    white-space: pre;
}

.epics-panel {
}
