body {
    font-family: Calibri, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.loading-bar {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: loading-bar 3s ease infinite;
    text-align: center;
}

    .loading-bar.panel {
        margin: 2em;
        border: 1px solid #222222;
        padding: 1em;
        font-size: larger;
        font-weight: bolder;
    }

.epic-progress-bar {
    height: 10px;
}

@keyframes loading-bar {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.error-panel {
    background: #ee5352;
    color: #ffffff;
    margin: 2em;
    border: 1px solid #880000;
    padding: 1em;
    font-size: larger;
    font-weight: bolder;
    white-space: pre;
}

.epics-panel {
    position: relative;
}

.day-indicator {
    width: 1px;
    height: 100%;
    border-left: 1px dashed #666666;
    color: #666666;
    padding-left: 1px;
    position: absolute;
    white-space: nowrap;
    font-weight: bold;
}

.today-indicator {
    width: 30px;
    height: 100%;
    border-left: 1px solid #0066ff;
    background-image: linear-gradient(to right, rgba(0,102,255,0.5), rgba(0,102,255,0));
    padding-left: 1px;
    position: absolute;
    white-space: nowrap;
    padding-left: 1px;
    font-weight: bold;
}

.project-header {
    padding-left: 2px;
    color: #666666;
    position: absolute;
    font-size: 17px;
    font-weight: bold;
}

.epic-card {
    border: 1px solid #222222;
    border-radius: 10px;
    overflow: hidden;
    height: 100%;
    position: absolute;
    display: block;
}

    .epic-card .content {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        height: 50px;
        overflow: hidden;
        width: 100%;
    }

    .epic-card .status {
        margin: 0;
        padding: 3px;
        text-align: center;
    }

    .epic-card .summary {
        margin: auto;
        padding: 3px;
        text-align: center;
    }

.button {
    font-size: smaller;
    margin: 2px;
    padding: 0.5em;
    border: 1px solid #222222;
    border-radius: 5px;
    background-color: #afcfff;
    display: inline-block;
}

    .button:hover {
        cursor: pointer;
        background-color: #cfefff;
    }

.control-panel {
    max-width: 600px;
    margin: 0 1px 1px 0;
    position: fixed;
    border: 1px solid #222222;
    z-index: 1;
    background-color: #aaaaaa;
}

    .control-panel table {
        width: 600px;
        padding: 0.5em;
        border-top: 1px solid #222222;
    }

    .control-panel tr td:first-child {
        text-align: right;
        vertical-align: top;
        width: 110px;
    }

    .control-panel tr td:last-child {
        font-weight: bolder;
        vertical-align: top;
    }
