body {
    font-family: Calibri, sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
}

.week {
    width: 1px;
    height: 100%;
    border-left: 1px dashed #666666;
    color: #666666;
    padding-left: 1px;
    position: absolute;
    white-space: nowrap;
}

.today {
    width: 30px;
    height: 100%;
    border-left: 1px solid #0066ff;
    background-image: linear-gradient(to right, rgba(0,102,255,0.5), rgba(0,102,255,0));
    padding-left: 1px;
    position: absolute;
    white-space: nowrap;
    padding-left: 1px;
}

.canvas {
    position: relative;
}

.project {
    padding-left: 2px;
    color: #666666;
    position: absolute;
    font-size: 14px;
}

.epic {
    border: 1px solid #222222;
    padding: 1px;
    border-radius: 10px;
    position: absolute;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
}
